<h2 id="about">About</h2>
  <p>
    Open Advice provides agony aunt style advice to people who want to work openly but currently find themselves in a closed environment.
  </p>
  <p>
    This website was created by <a href=https://github.com/kirstiejane>Kirstie</a> and <a href=https://github.com/daniellecrobinson>Danielle</a> in preparation for <a href="http://www.opencon2016.org/">OpenCon 2016</a>.
  </p>
  <p>
    We aim to help early career researchers do their best to be open even if they find that their supervisor doesn't support this goal.
  </p>
