<h2 id="contributors">Contributors</h2>

  <p>
    The Open Advice project is openly developed on GitHub. Please visit our <a href="https://github.com/KirstieJane/OpenAdvice/blob/master/README.md">repository site</a> to suggest questions, provide answers, report any bugs with the website, or any other feedback you'd like to share.
  </p>
  <p>
    We'd love to hear from you! The details on how to get in touch can be found <a href="https://github.com/KirstieJane/OpenAdvice#get-involved">here</a>.
  </p>
