<head>
  <title>Open Advice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Kirstie Whitaker, Danielle Robinson + MSL Team"/>
  <!-- STYLES -->
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="icon" type="image/ico" href="https://mozillascience.org/img/favicon.ico">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/javascript/script.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/javascript/table.js" type="text/javascript" charset="utf-8"></script>
</head>
