<h2 id="resources">Resources</h2>
  <p>
    Here are some pertinent resources that may be useful to you if you're teaching this course
  </p>
  <ol class="steps">
    <li>
      <h1>Articles explaining the benefits of working openly</h1>
      <ul>
        <li>
          <h2>The academic, economic and societal impacts of Open Access: an evidence-based review</h2>
          <p>
            Tennant JP, Waldner F, Jacques DC et al. The academic, economic and societal impacts of Open Access: an evidence-based review [version 3; referees: 3 approved, 2 approved with reservations]. F1000Research 2016, 5:632 (<a href="https://f1000research.com/articles/5-632/v3">doi: 10.12688/f1000research.8460.3</a>)
          </p>
        </li>
      </ul>
    </li>
    <li>
      <h1>Working with GitHub</h1>
      <ul>
        <li>
          <h2>A friendly introduction to github</h2>
          <p><a href="http://joeyklee.github.io/friendly-github-intro/">This workshop</a> is the friendliest of friendly introductions to the amazing tool that is <a href="https://github.com/">Github</a>.</p>
        </li>
      </ul>
    </li>
    <li>
        <h1>Open Science</h1>
        <ul>
          <li>
            <h2>Mozilla Science Lab</h2>
            <p>You can describe this resource here.</p>
          </li>
      </ul>
  </li>
  </ol>
